* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

.felix-video-container {
    position: relative;
    width: auto;
    height: 100vh;
    transition: all 0.4s ease;
}

.felix-video,
.felix-video video {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}

.felix-video-controls {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 1;
    width: 100%;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

.muted,
.unmuted {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    padding: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4em;
    width: 4em;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px lightgray;
    cursor: pointer;
    pointer-events: all;
    transition: all 0.4s ease;
}

.muted {
    background-image: url(muted.png);
}

.unmuted {
    background-image: url(unmuted.png);
    opacity: 0;
}

.felix-video-controls:hover .unmuted {
    opacity: 1;
}